@using Gui.Events
@using Gui.Models
@using Gui.Query
@inject IEventService EventService
@inject IQueryService QueryService

<div class="list-container">
    @foreach (var book in books)
    {
        <div class="book-card">
            <div class="book-cover">
                <img src="@book.ImageUrl" alt="@book.Title book cover"/>
                <div class="book-description">@book.Description</div>
            </div>
            <div class="book-info">
                <p class="book-title">@book.Title</p>
                <div class="book-author-rating">
                    <span>@book.Author</span>
                    <p class="book-rating">
                        @($"{book.Rating:F1}") <i class="fas fa-star"></i>
                    </p>
                </div>
                <div class="book-tags">
                    @foreach (var tag in book.Tags)
                    {
                        <div class="tag-chip">@tag</div>
                    }
                </div>
            </div>
        </div>
    }
</div>

@code {

    private IEnumerable<BookCard> books = [];

    protected override void OnInitialized()
    {
        EventService.OnQuerySearch += HandleQuerySearch;
    }

    private async Task HandleQuerySearch((string query, string read) query)
    {
        books =  await QueryService.QueryAsync(query.query, query.read);
        StateHasChanged();
    }

}